@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Lato !important;
}


#wrap-preload{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease, visibility .5s ease;
  }
  
  #wrap-preload.close{
    opacity: 0;
    visibility: hidden;
  }
  
  #wrap-preload > img.gif{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* transform: translate3d(-50%, -50%, 0); */
  }

.menu{
    margin-top: -60px;
}

[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: white !important;
}

figcaption > img{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0px;
  left: 0px;
  
}

.nombre_menu > .container{
  width: 100%;
  padding: 10px;
  color: white;
  margin-bottom: 50px;
  background: rgb(117,82,255) !important;
    background: linear-gradient(90deg, rgba(117,82,255,1) 0%, rgba(139,128,255,1) 50%, rgba(117,82,255,1) 100%) !important;
}

.retorno > a{
  margin-top: -20px;
  background-color: #004B6F !important;
  color: white;
  margin-right: 20px;
  -webkit-box-shadow: 9px 10px 15px -9px #000000; 
  box-shadow: 9px 10px 15px -9px #000000;
}

.retorno > a:hover{
  color: rgb(212, 212, 212) !important;
}

/* .btnn{
  margin-top: -25px !important;
  transform: translate(-12px);
  } */

.btnnuevo > a{
  background-color: #7452ff !important;
  color: white;
  /* width: 200px; */
  -webkit-box-shadow: 9px 10px 15px -9px #000000; 
  box-shadow: 9px 10px 15px -9px #000000;
}

.form-control-sm{
  border: 1px solid white !important;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  background: rgb(233, 232, 232) !important;
  
}

.form-control-sm:focus{
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgb(117,82,255) !important;
}

.btnGuardar, .btnGuardarPedido, .btnGuardarEmbalaje, .btnGuardarCliente{
  background-color: #7552ff !important;
  color: white !important;
  width: 150px !important;
}

.btnGuardar:hover, .btnGuardarPedido:hover{
  background-color: #8B80FF !important;
  transition: .3s ease-in !important ;
}

.btnCancelar{
  background-color: #004B6F !important;
  color: white !important;
  width: 150px !important;
}


.textotitulo{
font-weight: bold;
font-size: 18px;
}

.fondoVer{
  background-color: #8B80FF;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}


.nombreSoñadora{
  display: none !important;
  margin-top: -20px;
}

.fondoarriba{
  border-radius: 10px 0px 10px 200px !important;
  -moz-border-radius: 10px 0px 10px 200px !important;
  -webkit-border-radius: 10px 0px 10px 200px !important;
  border: 0px solid #7552ff !important;
  background: #7552ff !important;
  width: 100% !important;
  height: 60px !important;
}

.btnAgregar{
  background-color: #7552ff !important;
  color: white !important;
  width: 150px !important;
  margin-top: 30px !important;
}

.btnAgregar:hover{
  background-color: #8B80FF !important;
  transition: .3s ease-in !important ;
}

.tabla{
  margin-left: 20px !important;
  margin-right: 40px !important;
 
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: #004B6F  !important
}

.contenedor_rotulo{
  border: 7px solid #7552ff !important;
}

.btnPara{
  background-color: #7552ff !important;
  color: white !important;
}

.btnPara i {
  color: white !important;
}

.imgE{
  cursor: pointer;
}







@media only screen and (max-width: 768px) {
  
  lord-icon{
    width: 50px !important;
    height: 50px !important;
  }

  .btnnuevoSoñador{
    margin-top: -25px !important;
    transform: translate(0px);
    }
  
  .btnnuevoSoñador > a{
    width: 100% !important;
  }

  .nombreSoñadora{
    display: block !important;
    margin-top: -20px;
  }

  .retorno > a{
    background-color: #004B6F !important;
    color: white;
    margin-right: 20px;
    -webkit-box-shadow: 9px 10px 15px -9px #000000; 
    box-shadow: 9px 10px 15px -9px #000000;
  }
  
  .nombre_menu{
   margin-top: 25px;
  }

}



  
            
      




